# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


pnpm-lock.yaml
yarn.lock
bun.lockb
/coverage/
docs/dependency-graph.svg
docs/dependency-metrics.json

# Backend
/backend/.next
/backend/data/
/backend/node_modules
/backend/frontend/portfolio*
/backend/frontend/github-repos*

# SonarQube
/.scannerwork/
sonar-project-local.properties
